@mixin font($family, $textSize, $weight, $line-height, $dark-navy) {
  font: {
    family: $family;
    size: $textSize;
    weight: $weight;
  }
  line-height: $line-height;
  color: $dark-navy;
}
@mixin responsive($position) {
  @if $position == tablet {
    @media screen and (max-width: 768px) {
      @content;
    }
  } @else if $position == mobile {
    @media screen and (max-width: 375px) {
      @content;
    }
  }
}
